@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=Poppins:wght@300;400;700&display=swap');

:root{
    --nav-ancho-show: 220px;
    --color-secundary: #ffffff; 
    --color-primary: #eeefff;
    --color-tercero: #8a92ff;
    --color-text1: #313131;
    --color-text2: #000;
    
}

.dark-for-body{/*add or remove in JS*/
    --color-secundary: #242424; 
    --color-primary: #313131;
    --color-tercero: #5a5a5a;
    --color-text1: #cccccc;
    --color-text2: rgb(255, 255, 255);
}
.menu-show-hidden{/*add or remove in JS*/
    --nav-ancho-show: 80px;
}

*{
    /* font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Poppins', sans-serif; */

    transition: all .2s;
}

body{
    background: var(--color-secundary);
}

/*nav*/
.menu{
    width: var(--nav-ancho-show);
    background: var(--color-secundary);
    height: 100vh;
    position: fixed;
    padding: 10px 10px 40px;
    display: flex;
    flex-direction: column;
    transition: width .3s;
}


/*nav head*/
.menu__head{
    color: var(--color-text2);
    font-family: 'Be Vietnam Pro', sans-serif;
    position: relative;
}
.menu__logo{
    overflow: hidden;
    padding-bottom: 10x;
    margin-bottom: 30px;
    border-bottom: 5px solid var(--color-tercero);
}
.menu__logo h2{
    font-size: 2.4rem;
    width: 160px;
}
.menu__handle{ 
    position: absolute;
    background: var(--color-tercero);
    color: var(--color-text2);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    z-index: 100;
    top: 5px;
    right: 0;
    transform: translateX(25px);
}

/*nav links*/
.menu__nav{
    color: var(--color-text1);
    font-family: 'Poppins', sans-serif;
}

.menu__link{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 60px;
    margin-bottom: 20px;
    transition: background .2s;
    border-radius: 10px;
    font-size: 1.4rem;
    overflow: hidden;
    position: relative;
    color: var(--color-text1);
    text-decoration: none;
}
.menu__link:hover{
    background: var(--color-primary);
}
.link{
    flex-shrink: 0;
}
.link__search{
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-text1);
    
}
.link__icon{
    width: 60px;
    text-align: center;
}
.link__text{
    width: 140px;
    text-align: left;
}
.select::after{
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 100%;
    background: var(--color-tercero);
}

/*nav opt*/
.menu__opt{
    margin-top: auto;
}
.darklight__case{
    width: 60px;
    height: 30px;
    border-radius: 40px;
    display: flex;
    background: var(--color-primary);
}
.darklight__handle{
    background: var(--color-secundary);
    position: relative;
    width: 25px;
    height: 25px;
    clip-path: circle();
    margin: auto 0 auto 5px;
    transition: transform .3s;
}
.🌗{
    position: absolute;
    right: 5px;
    bottom: 5px;
    transition: opacity .2s;
    color: var(--color-text1);
}
.fa-moon{
    opacity: 0;
}
.menu__opt__boton input{
    appearance: none;
}
.menu__opt__boton input:checked + .darklight__case .darklight__handle{
    transform: translateX(100%);
}
.menu__opt__boton input:checked + .darklight__case .darklight__handle .fa-moon{
    opacity: 1;
}
.menu__opt__boton input:checked + .darklight__case .darklight__handle .fa-sun{
    opacity: 0;
}


